/* style the container */
.multi-select-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Arial, sans-serif;
  }
  
  /* style the select dropdown */
  .multi-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    outline: none;
    height: auto;
    min-height: 100px;
  }
  
  /* selected option styling */
  .multi-select option:checked {
    background: #415c77;
    color: white;
  }
  
  /* scrollbar styling */
  .multi-select::-webkit-scrollbar {
    width: 8px;
  }
  
  .multi-select::-webkit-scrollbar-thumb {
    background: #0056b3;
    border-radius: 4px;
  }
  
  .multi-select::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
  }
  